// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
import { getAnalytics } from "firebase/analytics";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyBtTnI8L3xBCuO4gzXYXpjgNbyL5eNn-lQ",
  authDomain: "portfolio-efc1e.firebaseapp.com",
  projectId: "portfolio-efc1e",
  storageBucket: "portfolio-efc1e.firebasestorage.app",
  messagingSenderId: "338626278731",
  appId: "1:338626278731:web:1b1409d367f5db32fb24ce",
  measurementId: "G-VP0Q0Z1RS2"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
const analytics = getAnalytics(app);